<ng-container *ngIf="active; else viewTemplate">
  <p>
    First, setup the participants of the game. Enter their name, which will be used to
    identify the players for ranking purposes (so don't use nicknames that won't be
    recognized, or people won't be ranked properly). Enter their e-mail address, which
    will be used to invite participants to join the game (so don't make typos or the
    participants will never receive their invitations).
  </p>
  <form>
    <div class="row justify-content-end">
      <div class="col-3">
        <button type="button" class="btn btn-primary btn-block" (click)="onAdd()">
          + Add Participant
        </button>
      </div>
    </div>
    <div class="row align-items-end"
         *ngFor="let participant of participantsForm.controls; let i = index">
      <ng-container [formGroup]="participant">
        <div class="col form-group">
          <label for="name">
            Participant name:
          </label>
          <input type="text"
                 class="form-control"
                 id="name"
                 [formControlName]="'name'">
        </div>
        <div class="col form-group">
          <label for="e-mail">
            Participant e-mail:
          </label>
          <input type="text"
                 class="form-control"
                 id="e-mail"
                 [formControlName]="'email'">
        </div>
        <div class="col-1 form-group">
          <button type="button"
                  (click)="onDelete(i)"
                  class="btn btn-outline-secondary btn-block">
            X
          </button>
        </div>
      </ng-container>
    </div>
  </form>
  <p>
    Form is valid: {{ participantsForm.valid }}
  </p>
</ng-container>

<ng-template #viewTemplate>
  <p><i>Showing all participants</i></p>
</ng-template>
