<div class="introduction">
  <h3>
    Welcome to the Ranking Game!
  </h3>
  <p>
    <i>The online group game that is bound to stir things up within your friends group!</i>
  </p>
  <div class="go-to-game">
    <p>
      Start a new Game:
    </p>
    <button type="button"
            class="btn btn-primary"
            (click)="goToNewGame()">
      Create Game!
    </button>
  </div>
  <div class="go-to-game">
    <p>
      Or go to an existing game: {{gameId.value}}
    </p>
    <div class="row justify-content-center">
      <div class="col-sm-6 input-group">
        <input type="text"
               #gameId="ngModel"
               ngModel
               class="form-control"
               placeholder="Enter game ID">
        <div class="input-group-append">
          <button class="btn btn-primary"
                  type="button"
                  [disabled]="!gameId.value"
                  (click)="goToExistingGame(gameId.value)">
            Go to Game!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
