<section class="step-header"
         [ngClass]="{ 'inactive': step.status !== 'active' }"
         (click)="onStepClicked()">
  <span class="header-counter">
    {{ index + 1}}
  </span>
  <h5>
    Step {{ index + 1 }}: {{ step.title }}
  </h5>
</section>
<section class="step-body" [ngClass]="{ 'inactive': step.status !== 'active' }">

  <ng-template stepPlaceholder></ng-template>

  <div class="row step-btn-active" *ngIf="step.status === 'active' && !step.isLast">
    <div class="col-md-2 col-sm-6">
      <button class="btn btn-primary" (click)="onNextClicked()" [disabled]="!step.isValid">
        Next
      </button>
    </div>
    <div class="col-md-2 col-sm-6" *ngIf="index !== 0">
      <button class="btn btn-outline-primary" (click)="onPreviousClicked()">
        Previous
      </button>
    </div>
  </div>
  <div class="step-btn-inactive" *ngIf="step.status === 'completed' && !step.isLast">
    <button class="btn btn-outline-secondary" (click)="onStepClicked()">
      Edit
    </button>
  </div>
</section>
