<section class="step-header"
         [ngClass]="{ 'inactive': step.status !== 'active' }">
  <span class="header-counter">
    {{ index + 1}}
  </span>
  <h5>
    Step {{ index + 1 }}: {{ step.title }}
  </h5>
</section>
<section class="step-body" [ngClass]="{ 'inactive': step.status !== 'active' }">

  <ng-template stepPlaceholder></ng-template>

  <div class="row step-btn-active" *ngIf="step.status === 'active' && !step.isLast">
    <div class="col-lg-2 col-md-3 col-6">
      <button class="btn btn-primary btn-block" (click)="onNextClicked()" [disabled]="!step.isValid">
        Next
      </button>
    </div>
    <div class="col-lg-2 col-md-3 col-6" *ngIf="index !== 0">
      <button class="btn btn-outline-primary btn-block" (click)="onPreviousClicked()">
        Previous
      </button>
    </div>
  </div>
  <div class="step-btn-inactive row justify-content-end" *ngIf="step.status === 'completed' && !step.isLast">
    <div class="col-lg-2 col-md-3 col-6">
      <button class="btn btn-outline-secondary btn-block" (click)="onEditClicked()">
        Edit
      </button>
    </div>
  </div>
</section>
