<p>
  What are the questions that participants should be ranked on? You can create a game
  with only custom questions. Or you can create a game with only predefined questions.
  Or you can make a combination of predefined and custom questions.
</p>
<p>
  When going for predefined questions, it helps to pick a setting. You don't want to play
  a family game and ask "who is the worst on dates". You don't want to play a game with colleagues
  and ask "who's farts stink the worst". The setting determines the questions. Pick a setting,
  and the predefined questions will be suggested accordingly.
</p>
<form [formGroup]="questionsForm">
  <div class="form-group">
    <label for="theme">Theme:</label>
    <select class="form-control"
            id="theme"
            [formControlName]="'theme'">
      <option>
        Select...
      </option>
      <option>
        Work Colleagues - Office Appropriate
      </option>
      <option>
        Work Colleagues - Edgy
      </option>
      <option>
        Family - All Ages
      </option>
      <option>
        Friends - Friendly
      </option>
      <option>
        Friends - Edgy
      </option>
    </select>
  </div>

  <div class="row justify-content-end">
    <div class="col-lg-3 col-md-4 col-6">
      <button type="button"
              class="btn btn-primary btn-block"
              (click)="onAddQuestion()">
        + Add Question
      </button>
    </div>
  </div>
  <div class="row align-items-end" *ngFor="let question of questionsList.controls; let i = index">
    <ng-container [formGroup]="question">
      <div class="col-lg-11 col-md-10 form-group">
        <label for="question">Question {{i + 1}}:</label>
        <input type="text"
               class="form-control"
               id="question"
               [formControlName]="'title'">
      </div>
      <div class="col-lg-1 col-md-2 form-group">
        <button type="button"
                (click)="onDeleteQuestion(i)"
                class="btn btn-secondary btn-block">
          X
        </button>
      </div>
    </ng-container>
  </div>
</form>
